spring:
  profiles:
    active: local

server:
  servlet:
    encoding:
      charset: UTF-8
      force: true

jwt:
  secret: ${JWT_SECRET}
  expire-length: 10800000 # 1000 miliseconds * 60 seconds * 60 minutes * 3 hours:

---

spring:
  profiles:
    active: local
  datasource:
    data: classpath:defaultItem.sql
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
    jpa:
      hibernate:
        ddl-auto: create
